.header {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
  margin-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 768px) {
    .header {
      margin-top: 28px;
      margin-left: 24px;
      margin-right: 24px;
    }
} 

@media screen and (max-width: 350px) {
    .header {
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
    }
} 