.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 680px) {
    .lead__title {
      font-size: 3.5rem;
      line-height: 1.1;
    } 
}

@media screen and (max-width: 410px) {
  .lead__title {
    font-size: 3rem;
  } 
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 2.5rem;
  } 
}