.footer {
  margin-left: 48px;
  margin-right: 48px;
  /* margin: auto; */
  margin-top: 92px;
  margin-bottom: 24px;
  max-width: 100%;
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .footer {
      margin-top: 88px;
      margin-left: 24px;
      margin-right: 24px;
      /* column-gap: 32px; */
    }
} 

@media screen and (max-width: 375px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 64px;
      margin-left: 16px;
      margin-right: auto;
    }
} 