.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  /* color: red; */
  margin: 0;
  margin-bottom: 4px;
  border: 0;
  text-transform: uppercase;
}
