.photo {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: calc(100% - (48px * 2)); */
  max-width: 1184px;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-top: 245px;
  padding-bottom: 245px;
  position: relative;
  z-index: 1;
}

.photo::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.3;
  bottom: 0;
  z-index: -1;
  transition: opacity 0.3s linear 0.5s;
}

.photo:hover::after {
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
    .photo {
      padding-top: 195px;
      padding-bottom: 195px;
    }
} 

@media screen and (max-width: 768px) {
    .photo {
      padding-top: 115px;
      padding-bottom: 115px;
    }
} 

@media screen and (max-width: 550px) {
    .photo {
      padding-top: 33px;
      padding-bottom: 33px;
    }
}
